In [1]:
import pandas as pd
import numpy as np 
import plotly.express as px
from dash import Dash, html, dash_table, dcc, callback, Output, Input
import dash_bootstrap_components as dbc

In [2]:
overall_comps = pd.read_csv("/Users/jdeen@middlebury.edu/Documents/ENV_Dashboard/ENV_Dash/Data/Tidy/all_scopes.csv")
scope1 = pd.read_csv("/Users/jdeen@middlebury.edu/Documents/ENV_Dashboard/ENV_Dash/Data/Tidy/scope1_sums.csv")
scope2= pd.read_csv("/Users/jdeen@middlebury.edu/Documents/ENV_Dashboard/ENV_Dash/Data/Tidy/scope2_sums.csv")

In [3]:
overall_comps

     Unnamed: 0       Year Scope_Total_MCTDEs      value
0             0  2006_2007            Scope 1  26,957.80
1             1  2007_2008            Scope 1  28,036.60
2             2  2008_2009            Scope 1  25,290.90
3             3  2009_2010            Scope 1  16,689.20
4             4  2010_2011            Scope 1  14,505.30
..          ...        ...                ...        ...
103         103  2019_2020              Total          0
104         104  2020_2021              Total  11,058.20
105         105  2021_2022              Total  10,858.30
106         106  2022_2023              Total   8,860.60
107         107  2023_2024              Total   7,704.70

[108 rows x 4 columns]

In [ ]:
overall_comps

In [ ]:
for v in overall_comps['value']:
    print(v)

In [ ]:
overall_comps[(overall_comps['Scope_Total_MCTDEs']=="Offsets Internal") | (overall_comps['Scope_Total_MCTDEs']=="Offsets External")]

In [ ]:
scope1

In [ ]:
scope2

In [ ]:
fig = px.bar(overall_comps, x= "Year" ,y= "value", color="Scope_Total_MCTDEs", color_discrete_sequence=px.colors.qualitative.Safe)
fig.show()

In [ ]:
overall_comps

In [ ]:
scope2